@{
    ViewBag.Subtitulo = "Inicio";
}

<div class="mt-4 p-5 bg-light text-dark rounded">
    <h1>Montadoras</h1>
    <hr>
    <div class="mt-4">
        <a class="btn btn-primary" asp-action="Cadastro" asp-controller="Montadora" >Cadastrar nova montadora</a>

        <a class="btn btn-primary" asp-action="Catalogo" asp-controller="Montadora" >Listar montadoras</a>
    </div>
</div>
